body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white; 
  background-size: cover; 
  background: url("4k.png") no-repeat center center fixed;
}

header {
background-color: rgba(0,0,0,0.5);
padding: 20px;
text-align: center;
}
.input{
background-color: rgba(22,22,22,0.5);
padding: 20px;
text-align: center;
}
.usr{
color: Black;
}
.cta{
color: Black;
}
